.container{
    position: relative;
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    top: 30px;
    border-right: 190px;
    margin-left: 204px;
    margin-top: 58px;
    margin-right: 190px;
}
.header{
display: flex;
justify-content: space-between;
padding: 20px;
padding-top: 1px;
padding-left: 1x;
}
.header-link{
   font-family: 'Inter', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;  
   margin: 17px;
   color: #B8BECD;
   transition: all linear;
   text-decoration: none;
   top: 56px;
}
.header-link:hover{
    text-decoration: underline blue;
}
.header-link:active{
    color: black;
}
.header__btn{
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 40px;
color: #ffffff;
background: #FB8F1D;
border-radius: 8px;
border: 1px solid transparent;
width: 132px;
height: 44px;
transition: all linear;
}
.header__btn:hover{
    border: 1px solid #FB8F1D;
    border-radius: 8px;
    color: #FB8F1D;
    background: transparent;
}
.header__btn:active{
    border-color: black;
    color: black;
}