.mister{
    display: flex;
    position: relative;
    padding-top: 248px;
    width: 1180px;
    max-height: 616px;
    margin-left: 96px;
    margin-right: 324px;
    }
    .mister__stuff{
        display: flex;
    flex-direction: column;
    padding-left: 144px;
    }
    .mister__stuff__testimonials{
    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: rgba(0 0, 0, 1,);
    padding-left: 11px;
    align-items: center;
    max-width: 481px;
    max-height: 50px;
    }
    .mister__stuff__words{
    display: flex;
    flex-direction: column;
    max-width: 450px;
    max-height: 321px;
    
    
    }
    .mister__stuff__words__stars{
        display: flex;
        max-width: 189px;
        max-height: 24px;
        justify-content: space-between;
        margin-top: 145px;
        float: left;
    }
    .mister__stuff__words__onestar{
        width: 26px;
    height: 24px;
    color: #FFBB0C;
    border-radius: 8px;
    }
    .mister__stuff__words__talk{
        max-width: 450px;
        max-height: 144px;
        margin-top: 30px;
        font-family: 'Muli', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    }
    .mister__stuff__words__name{
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 48px;
        color: #000000;
        margin-top: 40px;
        max-width: 183px;
        max-height: 48px;
    }
    .mister__stuff__wods__who{
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 48px;
        color: rgba(0, 0, 0, 0.85);
        max-width: 124px;
        max-height: 48px;
    }
    .mister__photography__krug{
        position: absolute;
        margin-left: 360px;
        z-index: 1;
    }
    .mister__photography__Krest{
        position: absolute;
        padding-top: 500px;
        z-index: 3;
    }
    .mister__photography{
        width: 417px;
    height: 523px;
    margin-top: 60px;
    margin-left: 184px;
    float: right;
    }
    .mister__photography__him{
        position: relative;
    width: 384px;
    height: 491px;
    background: #c4c4c4;
    border-radius: 16px;
    margin-top: 27px;
    z-index: 2;
    }
    .mister__photography__him__rectangle{
    display: flex;
    position: absolute;
    bottom: 0;
    width: 132px;
    height: 60px;
    background: #ffffff;
    border-radius: 16px 0px 0px 0px;
    margin-left: 252px;
    margin-top: 431px;
    z-index: 4;
    }
    .mister__photography__him__previous{
        height: 40px;
      width: 40px;
      border-radius: 50%;
      text-align: center;
      position: relative;
      border: 2px solid #D7D7D7;
      margin-left: 30px;
      margin-top: 20px;
    }
    .mister__photography__him__previous__svg{
        justify-content: center;
        margin-top: 14px;
    }
    .mister__photography__him__next{
        height: 40px;
      width: 40px;
      border-radius: 50%;
      text-align: center;
      position: relative;
      border: 2px solid #000000;
      margin-top: 20px;
      margin-left: 18px;
    }
    .mister__photography__him__next__svg{
        justify-content: center;
        margin-top: 14px;
    }